.App {
  text-align: center;
}

#header {
  background-color: rgb(93, 162, 164);
  padding: 0.85em 0em;
}

#header h1 {
  color: white;
  margin: 0;
  padding-bottom: 0.2em;
}
#header a {
  text-decoration: none;
}
.header-img-avatar {
  width: 25px;
  height: 25px;
  object-position: top;
  vertical-align: middle;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 0.5em;
}
button {
  background: transparent;
  border: none;
  box-shadow: 4px 6px 8px 3px rgb(164 164 164 / 50%);
  padding: 0.75em 1.8em;
  border-radius: 5px;
  color: rgb(93, 162, 164);
}

#header span {
  color: white;
}

.nav a:link,
.nav a:visited {
  color: white;
  text-decoration: none;
}
.nav {
  display: flex;
  justify-content: space-around;
  margin: 0;
  list-style: none;
  background-color: black;
  /* border: 1px solid rgb(115, 135, 150); */
  font-weight: bold;
}
ul.nav {
  padding: 1em;
  color: white;
}

#article-list {
  padding: 1em;
}
#article-list ul {
  padding: 0;
}

#article-card {
  display: grid;
  grid-template-columns: 70% 30%;
  border-radius: 1em;
  list-style: none;
  padding: 1em;
  margin: 0.75em 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 3px 2px rgb(164 164 164 / 50%);
}
#article-card h2 {
  margin: 0 0.75em 0.2em 0;
}

#articlecard-article-topic {
  margin: 0;
  margin-bottom: 0.3em;
}

#articlecard-article-author {
  margin-bottom: 0;
  font-weight: bold;
}

#articlecard-article-created {
  margin-top: 0.1em;
}

#articlecard-article-comments {
  margin-bottom: 0;
}

#articlecard-article-votes {
  margin-top: 0.1em;
}

.article-text-left {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.article-text-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.card-link {
  color: inherit;
  text-decoration: inherit;
}

#article-filter {
  padding: 0.5em;
}

#single-article {
  background-color: rgb(255, 255, 255);
  margin: 1em;
  padding: 1.255em;
}

#single-article header {
  text-align: left;
}

#single-article h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

#articlepage-article-topic {
  color: rgb(93, 162, 164);
}

#articlepage-article-author {
  margin-top: 0;
  margin-bottom: 0.2em;
}
#articlepage-article-date {
  margin-top: 0;
  margin-bottom: 0.2em;
  font-size: 0.95em;
}

#articlepage-article-vote {
  margin-top: 0.3em;
  margin-bottom: 0;
  font-size: 0.95em;
}

#articlepage-article-comments {
  font-size: 0.95em;
  margin-top: 0.5em;
  margin-bottom: 3em;
}

#single-article section {
  text-align: left;
}

#single-article footer {
  text-align: right;
  margin-top: 1.75em;
}

.vote-adder {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}
.vote-adder-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.vote-adder p {
  margin: 0;
  font-weight: bold;
}
.vote-adder button {
  margin: 0;
  padding: 0.5em;
  font-size: 1.3em;
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  box-shadow: none;
}

#adder-error {
  color: rgb(246, 69, 69);
  font-size: 0.8em;
  font-weight: bold;
  padding-top: 0.5em;
}

#comment {
  border-top: 1px solid grey;
  padding-top: 1em 1.2em;
}

.comment-list {
  padding-top: 1em;
  text-align: left;
}

#comment-author {
  margin-bottom: 0.1em;
}

#comment-body {
  padding-bottom: 0.8em;
}

#comment-votes {
  text-align: right;
}

#comment-date {
  padding-bottom: 2em;
  font-size: 0.95em;
}

.comment-adder-form {
  justify-content: center;
  padding: 0.25em 0;
}

.comment-adder-form form {
  align-items: center;
}

.comment-adder-form textarea {
  font-family: inherit;
  height: 150px;
  width: 100%;
  resize: none;
}

.articlesList-topic-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.2em;
}

#topic-label {
  padding-left: 1 em;
  font-weight: 200;
  margin: 1em, 0;
}

#topic {
  font-weight: 400;
}

.articlesList-sortbys {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0 1em;
}

.articlesList-sortbys button {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0.75em 1.8em;
  /* border-radius: 5px; */
  font-size: 1.4em;
  color: black;
}
