.App {
  text-align: center;
}

#header {
  background-color: rgb(66, 95, 145);
  /* border: 1px solid blue; */
  padding: 0.85em 0em;
}

header h1 {
  color: white;
  margin: 0;
}
/* 
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
} */

.nav a:link,
.nav a:visited {
  color: white;
}
.nav {
  display: flex;
  justify-content: space-around;
  margin: 0;
  list-style: none;
  background-color: rgb(124, 135, 150);
  border: 1px solid rgb(115, 135, 150);
  /* padding-top: 0.5em;
  padding-bottom: 0.7em; */
  font-weight: bold;
}
ul.nav {
  padding: 1em;
  color: white;
}

#article-list {
  background-color: rgb(226, 237, 247);
  /* border: 1px solid rgb(0, 255, 89); */
  padding: 1em;
  /* margin: 3em 0; */
}
#article-list ul {
  padding: 0;
}

#article-card {
  display: grid;
  grid-template-columns: 70% 30%;
  border-radius: 1em;
  list-style: none;
  padding: 1em;
  margin: 0.75em 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 3px rgba(164, 164, 164, 0.503);
}
#article-card h2 {
  margin: 0 0.75em 0.2em 0;
}

#articlecard-article-topic {
  margin: 0;
  margin-bottom: 0.3em;
}

#articlecard-article-author {
  margin-bottom: 0;
  font-weight: bold;
}

#articlecard-article-created {
  margin-top: 0.1em;
}

#articlecard-article-comments {
  margin-bottom: 0;
}

#articlecard-article-votes {
  margin-top: 0.1em;
}

.article-text-left {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  /* justify-content: flex-start; */
}

.article-text-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

#article-filter {
  padding: 0.5em;
}
